RaspberryPi3/dataset/
LPCmotor/XYPlotterLPC1549/LPCWallF LinkServer Release.launch
LPCmotor/XYPlotterLPC1549/LPCWallF LinkServer Debug.launch
LPCmotor/XYPlotterLPC1549/Debug/
LPCmotor/LPCWallF/Debug/
LPCmotor/LPCWallF/LPCWallF LinkServer Release.launch
LPCmotor/LPCWallF/LPCWallF LinkServer Debug.launch
/.metadata/
LPCmotor/FreeRTOS/Debug/
RaspberryPi3/SubPackage/__pycache__/
.ipynb_checkpoints/
*.wav
LPCMotor/usb_cdc/Debug/
RaspberryPi3/camera.jpg
